html {
  @apply box-border antialiased overflow-y-scroll;

  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  @apply p-0 m-0;

  box-sizing: inherit;
}

input,
textarea,
button,
select {
  @apply rounded-none;

  -webkit-appearance: none;
  outline: 0;

  &[type="checkbox"] {
    -webkit-appearance: checkbox;
  }
}

html,
body,
[id="__next"] {
  @apply h-full w-full;
}

[id="__next"] {
  @apply min-h-full flex flex-col overflow-hidden text-black;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "San Francisco",
    "Segoe UI",
    "Helvetica Neue",
    "Lucida Grande",
    sans-serif;
  font-display: swap;
}
